# Python Bytecode & Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual Environment
venv/
.venv/
env/

# IDE & Editor files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Secrets & Environment variables
.env

# Miscellaneous
*.egg-info/
my_reports/
reports/
final_reports/
